@model IEnumerable<PersonDataViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<button id="delete-selected" type="button" class="btn btn-danger">Delete Selected</button>
<table class="table">
    <thead>
        <tr>
            <th>Select</th> <!-- For checkboxes -->
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.AddressID)
            </th>
             
            <th>
                @Html.DisplayNameFor(model => model.Address.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>Deatils</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <input type="checkbox" class="delete-checkbox" value="@item.PersonID" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
                <td>@(item.Address != null ? item.Address.AddressID : "N/A")</td>
                <td>@(item.Address != null ? item.Address.Street : "N/A")</td>
                <td>@(item.Address != null ? item.Address.City : "N/A")</td>
                <td>@(item.Address != null ? item.Address.PostalCode : "N/A")</td>
                <td>@(item.Address != null ? item.Address.PersonID : "N/A")</td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.PersonID }) 
                    @Html.ActionLink("Details", "Details", new { id = item.PersonID }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonID })
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {debugger
        $('#delete-selected').click(function () {debugger
            var selectedIds = [];
            $('.delete-checkbox:checked').each(function () {
                selectedIds.push($(this).val());
            });

            if (selectedIds.length === 0) {
                alert("Please select at least one record to delete.");
                return;
            }

            if (confirm("Are you sure you want to delete the selected records?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete")',
                    data: { ids: selectedIds },
                    traditional: true,
                    success: function (response) {debugger
                        if (response.success) {
                            window.location.reload(); // Reload the page to refresh the data
                        } else {
                            alert("An error occurred while deleting records.");
                        }
                    },
                    error: function () {
                        alert("An error occurred while processing your request.");
                    }
                });
            }
        });
    });
</script>