@model IEnumerable<DomainModels.UserData>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users and Profiles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Profile.ProfileID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Profile.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Profile.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Profile.UserID)
            </th>
            <th>
               Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.ProfileID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.UserID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                </td>
            </tr>
        }
    </tbody>
</table>
