@model IEnumerable<LeadSourceViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<button id="deleteSelected" class="btn btn-danger">Delete Selected</button>
<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="selectAll" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadSourceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadSourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateFormatted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               <td>
                    <input type="checkbox" class="row-select" data-id="@item.LeadSourceID" />
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadSourceID)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LeadSourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CreatedDateFormatted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.LeadSourceID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#selectAll').click(function () {debugger
            $('.row-select').prop('checked', this.checked);
        });

        $('#deleteSelected').click(function () {debugger
            var selectedIds = [];
            $('.row-select:checked').each(function () {
                selectedIds.push($(this).data('id'));
            });

            if (selectedIds.length > 0) {
                if (confirm("Are you sure you want to delete the selected Lead Sources?")) {
                    $.ajax({
                        url: '@Url.Action("DeleteMultiple", "LeadSource")',
                        type: 'POST',
                        data: { leadSourceIds: selectedIds.join(',') },
                        success: function () {
                            location.reload();
                        }
                    });
                }
            } else {
                alert("Please select at least one record.");
            }
        });
      
    });
</script>


