@model IEnumerable<HumanResourcesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<button id="deleteSelected" class="btn btn-danger">Delete Selected</button>
<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="selectAll" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <input type="checkbox" class="row-select" data-id="@item.EmployeeID" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#selectAll').click(function () {
            debugger
            $('.row-select').prop('checked', this.checked);
        });

        $('#deleteSelected').click(function () {debugger
            debugger
            var selectedIds = [];
            $('.row-select:checked').each(function () {
                selectedIds.push($(this).data('id'));
            });

            if (selectedIds.length > 0) {
                if (confirm("Are you sure you want to delete the selected Lead Sources?")) {
                    $.ajax({
                        url: '@Url.Action("DeleteMultiple", "HumanResources")',
                        type: 'POST',
                        data: { Ids: selectedIds.join(',') },
                        success: function () {
                            location.reload();
                        }
                    });
                }
            } else {
                alert("Please select at least one record.");
            }
        });


    });
</script>
