@model NEWAPP.Models.CampaignViewModel

@{
    ViewData["Title"] = Model.CampaignID > 0 ? "Edit Campaign" : "Create Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@(Model.CampaignID > 0 ? "Edit" : "Create") Campaign</h1>

<h4>Campaign Details</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm(Model.CampaignID > 0 ? "Edit" : "Create", "Campaign", FormMethod.Post))
        {

            @Html.HiddenFor(model => model.CampaignID) <!-- Hidden field for CampaignID (used for Edit) -->

            <div class="form-group">
                @Html.LabelFor(model => model.CampaignName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.CampaignName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CampaignName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Budget, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Budget, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MeetingID, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.MeetingID, new SelectList(Model.Meetings, "MeetingID", "Description"), "-- Select Meeting Description --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MeetingID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="@(Model.CampaignID > 0 ? "Update" : "Create")" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
