@model IEnumerable<DomainModels.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    <a href="#" class="delete-course" data-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {debugger
        $(".delete-course").click(function (e) {debugger
            e.preventDefault(); // Prevent the default link behavior

            var courseId = $(this).data("id"); // Get the CourseID from the data-id attribute
            var deleteUrl = '@Url.Action("DeleteCourse", "Course")/' + courseId;

            if (confirm("Are you sure you want to delete this course?")) {
                $.ajax({
                    url: deleteUrl,
                    type: "POST",
                    success: function (response) {
                        if (response.success) {
                            alert("Course deleted successfully.");
                            // Optionally, you can remove the row from the table
                            location.reload(); // Refresh the page to update the table
                        } else {
                            alert("Failed to delete the course: " + response.message);
                        }
                    },
                    error: function () {
                        alert("An error occurred while deleting the course.");
                    }
                });
            }
        });
    });
</script>
