@model IEnumerable<NEWAPP.Models.BuildingOwnerViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuilderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuilderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.OwnerID }) |
             
                    @Html.ActionLink("Delete", "Delete", new { id = item.OwnerID })
            </td>
        </tr>
}
    </tbody>
</table>
